/*****************************************************
 * Main CSS
 *****************************************************/
<style type="text/css" media="screen">

@-ms-viewport{    
   /* width: device-width;
    height: device-height;
  */
	width: 320px;
    height: 480px;
	
}

</style>

